<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/swagger-ui.html}"> Ref to Swagger</a>
            <ul class="navbar-nav">
                <li class="navbar-item" th:classappend="${#httpServletRequest.getRequestURI() == '/owner' ? 'active':''}">
                    <a class="nav-link" th:href="@{/owner}">Owner</a>
                </li>
                <li class="navbar-item" th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'active':''}">
                    <a class="nav-link " th:href="@{/cars}">Cars</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link disabled" th:href="@{/workers}">Masters</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link disabled" th:href="@{/works}">Works</a>
                </li>
                <li class="navbar-item">
                    <a th:href="@{/logout}">Logout</a>
                </li>
            </ul>

    </div>
</nav>