<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:insert="fragments/navigation.html :: nav"></div>
    <div class="container mt-1">

        <div class="accordion" id="accordionExample" th:each="car : ${cars}">
            <div class="card">
                <div class="card-header" id="headingOne" th:id="'heading'+${car.getId()}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" th:attr="data-target='#collapse'+${car.getId()}">
                            <span th:text="${car.getId()} + ' Model: ' + ${car.getModel()}">Collapsible Group Item #1</span>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" th:id="'collapse'+${car.getId()}" class="collapse" aria-labelledby="headingOne" th:attr="aria-labelledby='heading'+${car.getId()}" data-parent="#accordionExample">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.getModel()} + ' ' + ${car.getYearOfIssue()} + ' (' + ${car.getMileage()} + ' km)'">Card title</h5>
                        <p class="card-text" th:text="'Owner: ' + ${car.getOwner().getLastName()} + ' ' + ${car.getOwner().getFirstName()} + ' ' + ${car.getOwner().getPatronymic()}">Owner info</p>
                        <p class="card-text" th:text="'Live in: ' + ${car.getOwner().getAddress()} + '. Tel: ' + ${car.getOwner().getTelephone()}">More owner info</p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group" th:each="work : ${car.getWork()}">
                            <li class="list-group-item">
                                <p th:text="${work.getId()} + ' Worker: ' + ${work.getWorker().getLastName()} + ' ' + ${work.getWorker().getFirstName()}">Text</p>
                                <p th:text="'Job done: ' + ${work.getWorkDone()}">Done work</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>